player-connection-mode=Connect
player-connection-guid=2425627208
player-connection-debug=0
player-connection-project-name=Hero-Rework
player-connection-wait-timeout=-1
player-connection-ip=192.168.0.4
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=86b9dc0f3a8a49cc8389710e5b5d4039
